<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Package Count</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>key</key>
			<string>showPackageCount</string>
			<key>label</key>
			<string>Show Package Count</string>
			<key>PostNotification</key>
			<string>com.mtac.okapi/preferences.changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>Packages</string>
</dict>
</plist>
