<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Package Icons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>OkapiSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>key</key>
			<string>hidePackageIcons</string>
			<key>label</key>
			<string>Hide Package Icons</string>
			<key>PostNotification</key>
			<string>com.mtac.okapi/preferences.changed</string>
			<key>subtitle</key>
			<string>Hides package icons in all views</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>OkapiSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>key</key>
			<string>useCydiaIcons</string>
			<key>label</key>
			<string>Use Cydia Icons</string>
			<key>PostNotification</key>
			<string>com.mtac.okapi/preferences.changed</string>
			<key>id</key>
			<string>shouldEnable</string>
			<key>subtitle</key>
			<string>Only available if Cydia is installed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Package Labels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>key</key>
			<string>showPackageVersion</string>
			<key>label</key>
			<string>Show Package Version</string>
			<key>PostNotification</key>
			<string>com.mtac.okapi/preferences.changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>Packages</string>
</dict>
</plist>
