<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Main Tweak Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>PostNotification</key>
			<string>com.mtac.okapi/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>OkapiColorsListController</string>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>label</key>
			<string>Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>OkapiPackageOptionsListController</string>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>label</key>
			<string>Packages</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>OkapiTableListController</string>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>label</key>
			<string>Table Views</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>OkapiQueueListController</string>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>label</key>
			<string>Queue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>OkapiTabBarListController</string>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>label</key>
			<string>Tab Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pages</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>OkapiHomeListController</string>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>label</key>
			<string>Home</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>OkapiSourceListController</string>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>label</key>
			<string>Sources</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>OkapiPackageListController</string>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>label</key>
			<string>Packages</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
