<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Badges</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>key</key>
			<string>tintBadge</string>
			<key>label</key>
			<string>Tint Badge</string>
			<key>PostNotification</key>
			<string>com.mtac.okapi/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Labels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>key</key>
			<string>hideTabLabels</string>
			<key>label</key>
			<string>Hide Labels</string>
			<key>PostNotification</key>
			<string>com.mtac.okapi/preferences.changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>Tab Bar</string>
</dict>
</plist>
