<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>OkapiSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>key</key>
			<string>hideTableSeparators</string>
			<key>label</key>
			<string>Hide Separators</string>
			<key>PostNotification</key>
			<string>com.mtac.okapi/preferences.changed</string>
			<key>subtitle</key>
			<string>Remove horizontal separators</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>OkapiSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.okapi</string>
			<key>key</key>
			<string>useInsetCells</string>
			<key>label</key>
			<string>Inset Cells</string>
			<key>PostNotification</key>
			<string>com.mtac.okapi/preferences.changed</string>
			<key>subtitle</key>
			<string>Gives a modern look</string>
		</dict>
	</array>
	<key>title</key>
	<string>Table Views</string>
</dict>
</plist>
