Package: com.mtac.okapi
Name: Okapi
Depends: mobilesubstrate, ws.hbang.common, org.thebigboss.libcolorpicker
Version: 1.1.1
Architecture: iphoneos-arm
Description: Enhance your Zebra experience
Maintainer: MTAC
Author: MTAC
Depiction: https://repo.mtac.app/depiction/web/com.mtac.okapi.html
Section: Tweaks
