Package: com.mtac.okapi
Name: Okapi
Version: 2.2
Architecture: iphoneos-arm
Description: A slighly better Zebra
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.spark.libsparkcolourpicker
Icon: file:///Library/PreferenceBundles/OkapiPrefs.bundle/icon-rounded.png
