Package: com.mtac.okapi
Name: Okapi
Depends: mobilesubstrate
Version: 1.0.6
Architecture: iphoneos-arm
Description: Enhance your Zebra experience
Maintainer: MTAC
Author: MTAC
Depiction: https://repo.mtac.app/depiction/web/com.mtac.okapi.html
Section: Tweaks
