Package: com.mtac.okapi
Name: Okapi
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Enhance Zebra
Maintainer: MTAC
Author: MTAC
Depiction: https://repo.mtac.app/depiction/web/com.mtac.okapi.html
Moderndepiction: https://repo.mtac.app/depiction/native/com.mtac.okapi.json
Sileodepiction: https://repo.mtac.app/depiction/native/com.mtac.okapi.json
Section: Tweaks
Version: 1.0.0-beta-11
Installed-Size: 664
